<form (ngSubmit)="onSubmit()" #subclassForm="ngForm">

  <h4 mat-dialog-title>Create new subclass</h4>

  <div mat-dialog-content>
    <!--  class -->
    <mat-form-field class='fsf-form'>
      <mat-select required placeholder='class' [(ngModel)]='subclass.classId' name='classId'>
        <mat-option *ngFor='let recordClass of input.recordClasses | async' [value]='recordClass.classId'>
          {{ recordClass.classAbbrev }} - {{ recordClass.className }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field class='fsf-form'>
      <input required type="text" matInput placeholder="abbreviation" aria-label="abbreviation" 
             [(ngModel)]="subclass.subclassAbbrev" name='abbrev'>
    </mat-form-field>

    <br>
    <mat-form-field class='fsf-form'>
      <input required type="text" matInput placeholder="name" aria-label="name" 
             [(ngModel)]="subclass.subclassName" name='subclass'>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button color="primary" mat-button [mat-dialog-close]="false">cancel</button>
    <button color="primary" mat-button [disabled]="!subclassForm.form.valid">create subclass</button> 
  </div>
  
</form>
