<h2 *ngIf="!theClaimId">Save the claim before adding claimants</h2>

<form (ngSubmit)="addClaimant()" #claimantForm="ngForm">
  <span  *ngIf="auth.getUser()|async">
    <span *ngIf="theClaimId">
      <h4>Add claimant to claim</h4>
      
      <!-- person -->
      <mat-form-field class='fsf-form'>
        <input required type="text" matInput placeholder="family name, given name" aria-label="family name, given name" [matAutocomplete]="autoClaimant" 
               [(ngModel)]="personInput.filter" name='ClaimantClaimant'>
        <mat-autocomplete #autoClaimant="matAutocomplete">
          <mat-option *ngFor="let person of personInput.filteredList" [value]="makePersonName(person)">
            {{ makePersonName(person) }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button (click)="onNewPerson()" *ngIf="auth.getUser()|async" type="button" mat-button color="primary" > new person </button>

      <!-- club -->
      <br>
      <mat-form-field class='fsf-form'>
        <input required type="text" matInput placeholder="club" aria-label="club" [matAutocomplete]="auto" 
               [(ngModel)]="clubInput.filter" name='ClaimantClub'>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let club of clubInput.filteredList" [value]="club.name">
            {{ club.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <br>
      <button color="primary" mat-raised-button [disabled]="!claimantForm.form.valid" color="primary" >add claimant to claim</button> 

    </span>
  </span>
</form>

<!-- ---- list claimants --------------------------------->
<span *ngIf="theClaimId">
  <h4>Claimants registered for the claim</h4>
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="calories">Date of birth</th>
      <th mat-sort-header="FAI">FAI ID</th>
      <th mat-sort-header="IOL">IOL</th>
      <th mat-sort-header="club">Club</th>
    </tr>

    <tr *ngFor="let claimant of claimants">
      <td>{{claimant.person.familyName}}, {{claimant.person.givenName}}</td>
      <td>{{claimant.person.dateOfBirth}}</td>
      <td>{{claimant.person.faiId}}</td>
      <td>{{claimant.person.personIdIOL}}</td>
      <td>{{claimant.club.name}}</td>
      <td>
        <button (click)="onDeleteClaimant(claimant.claimId, claimant.person.personId, claimant.person.givenName + ' ' + claimant.person.familyName)" 
                color="primary" *ngIf="auth.getUser()|async" type="button" mat-button> Remove from claim
        </button>
      </td>
    </tr>
  </table>
</span>