      <div *ngFor="let claimant of claimants | async">
        <div> <strong>{{claimant.person.familyName}}, {{claimant.person.givenName}} </strong>
        ({{claimant.person.dateOfBirth}}<span *ngIf="showPnr">-{{claimant.person.pnrDigits}}</span>),
          fai ID:  {{claimant.person.faiId}},
          IOL ID:  {{claimant.person.personIdIOL}},
          club: {{claimant.club.name}} </div>
      </div>
