<h1 mat-dialog-title>Login</h1>

<div mat-dialog-content>
  <p>Enter your credentials</p>


<form (ngSubmit)="login(data)" #loginForm="ngForm">
  <mat-form-field>
    <input (keyup.enter)="login(data)" matInput tabindex="1" placeholder="user" name="user" [(ngModel)]="data.user">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input (keyup.enter)="login(data)" type="password" matInput tabindex="2" placeholder="password" name="password" [(ngModel)]="data.password">
  </mat-form-field>
</form>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="login(data)" tabindex="3">login</button>
  <button mat-button [mat-dialog-close] tabindex="-1">cancel</button>
</div>
