<mat-menu #userMenu="matMenu">
  <button mat-menu-item disabled> todo: change password </button>
  <button mat-menu-item (click)="auth.logout()"> logout </button>
</mat-menu>

<span [matMenuTriggerFor]="userMenu" *ngIf="user;else not_logged_in">
  {{user.name || 'apa'}}
</span>

<ng-template #not_logged_in >

  <span (click)="openDialog()">Login</span>

</ng-template>
