<mat-sidenav-container>
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <span class="docs-component-viewer-sidenav">
      <ng-content></ng-content>
    </span>    
  </mat-sidenav>

  <div class="fsf-content-wrapper">
    <router-outlet></router-outlet> 
  </div>

</mat-sidenav-container>
