@import '~@angular/material/theming';

::ng-deep .sidenav-item-selected{
    background-color: mat-color($mat-blue, 50);
    font-weight: 600;
}

.fsf-content-wrapper{
  margin: 50px 70px;   
  min-height: 400px;
}

