@import '~@angular/material/theming';


.docs-component-viewer-sidenav li {
    margin: 0;
    border-color: rgba(0, 0, 0, .06);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: rgba(0, 0, 0, .54);
 }

.docs-component-viewer-sidenav li > a {
    padding: 0 16px;
    color: rgba(0, 0, 0, .54);
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 43px;
    text-decoration: none;
}

.docs-component-viewer-sidenav li > a.is-selected, 
.docs-component-viewer-sidenav li > a:focus,
.docs-component-viewer-sidenav li > a:hover {
    background: #fafafa;
    color: #00bcd4
}

