<form (ngSubmit)="onSubmit()" #form="ngForm">

  <h4 mat-dialog-title>Create Add new person to the database</h4>

<mat-dialog-content>
  <mat-form-field class='fsf-form'>
    <input required type="text" matInput placeholder="given name"
           [(ngModel)]="person.givenName" name='givenName'>
  </mat-form-field>

  <br>
  <mat-form-field class='fsf-form'>
    <input required type="text" matInput placeholder="family name"
           [(ngModel)]="person.familyName" name='familyName'>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="date of birth" [(ngModel)]="person.dateOfBirth" name="dateOfBirth">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>   

  <br>
  <mat-form-field class='fsf-form'>
    <input type="text" matInput placeholder="personal number, 4 last digits"
           [(ngModel)]="person.pnrDigits" name='pnrDigits'>
  </mat-form-field>

  <br>
  <mat-form-field class='fsf-form'>
    <input type="text" matInput placeholder="FAI ID"
           [(ngModel)]="person.faiId" name='faiId'>
  </mat-form-field>

  <br>
  <mat-form-field class='fsf-form'>
    <input type="text" matInput placeholder="IOL ID"
           [(ngModel)]="person.iolId" name='iolId'>
  </mat-form-field>

  <br>
  <mat-form-field class='fsf-form'>
    <input type="text" matInput placeholder="TODO, Club ID"
           [(ngModel)]="person.clubId" name='clubId'>
  </mat-form-field>

<mat-dialog-actions>
  <button color="primary" mat-button [disabled]="!form.form.valid">add new person</button> 
  <button color="primary" mat-dialog-close mat-button>cancel</button> 
</mat-dialog-actions>

</mat-dialog-content>
</form>