<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content>
  <p>{{data.msg}}</p>
</div>

<div mat-dialog-actions>
  <button color="primary" mat-button [mat-dialog-close]="false" tabindex="3">no</button>
  <button color="primary" mat-button [mat-dialog-close]="true" tabindex="4">yes</button>
</div>
