<h2 *ngIf="!claim.claimId && isLoggedIn">New Record Claim</h2>
<h2 *ngIf="!claim.claimId && !isLoggedIn">UNAUTHORIZED ACCESS. Please login {{claim.claimNbrFSF}}</h2>
<h2 *ngIf="claim.claimId && isLoggedIn">Edit Record Claim {{claim.claimNbrFSF}}</h2>
<h2 *ngIf="claim.claimId && !isLoggedIn">View Record Claim {{claim.claimNbrFSF}}</h2>


<mat-tab-group>
  <mat-tab label="Claim">

    <form (ngSubmit)="onSubmit()" #claimForm="ngForm">

<!--  class -->
    <mat-form-field class='fsf-form'>
      <mat-select required placeholder='class' [(ngModel)]='claim.classId' name='classId' (selectionChange)="onChangeClass()">
        <mat-option *ngFor='let recordClass of recordClasses | async' [value]='recordClass.classId'>
          {{ recordClass.classAbbrev }} - {{ recordClass.className }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <button *ngIf="auth.getUser()|async" color="primary" type="button" (click)="onNewClass()" mat-button>new class</button>

    <br>
<!-- subclass -->
    <mat-form-field class='fsf-form' >
      <mat-select required placeholder='subclass' [(ngModel)]='claim.subclassId' name='subclassId'>
        <mat-option *ngFor='let recordSubclass of recordSubclasses | async' [value]='recordSubclass.subclassId'>
          {{ recordSubclass.subclassAbbrev }} - {{ recordSubclass.subclassName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <button *ngIf="auth.getUser()|async" color="primary" type="button" (click)="onNewSubclass()" mat-button>new subclass</button>

    <br>
<!-- type -->
    <mat-form-field class='fsf-form'>
      <mat-select required placeholder='type' [(ngModel)]='claim.typeId' name='typeId'>
        <mat-option *ngFor='let recordType of recordTypes | async' [value]='recordType.typeId'>
          {{ recordType.typeText }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <button *ngIf="auth.getUser()|async" color="primary" type="button" (click)="onNewType()" mat-button>new type</button>

    <br>
<!-- group -->
    <mat-form-field class='fsf-form'>
      <mat-select required placeholder='group' [(ngModel)]='claim.groupId' name='groupId'>
        <mat-option *ngFor='let recordGroup of recordGroups | async' [value]='recordGroup.groupId'>
          {{ recordGroup.groupText }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <button *ngIf="auth.getUser()|async" color="primary" type="button" (click)="onNewGroup()" mat-button>new group</button>

    <br>
<!-- category -->
    <mat-form-field class='fsf-form'>
      <mat-select required placeholder='category' [(ngModel)]='claim.categoryId' name='categoryId'>
        <mat-option *ngFor='let recordCategory of recordCategories | async' [value]='recordCategory.categoryId'>
          {{ recordCategory.categoryText }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
<!-- zone -->
    <mat-form-field class='fsf-form'>
      <mat-select required placeholder='zone/region' [(ngModel)]='claim.zoneId' name='zoneId'>
        <mat-option *ngFor='let recordZone of recordZones | async' [value]='recordZone.zoneId'>
          {{ recordZone.zoneText }}
        </mat-option>
      </mat-select>
    </mat-form-field>

<!-- Claim Numbers --------------------->
    <br>
    <mat-form-field>
      <input matInput placeholder="claim number GF" [(ngModel)]='claim.claimNbrGF' name='claimNbrGF'>
    </mat-form-field>

  <br>
  <mat-form-field>
    <input required matInput placeholder="claim number FSF" [(ngModel)]='claim.claimNbrFSF' name='claimNbrFSF'>
  </mat-form-field>

  <br>
  <mat-form-field>
    <input matInput placeholder="claim number FAI" [(ngModel)]='claim.claimNbrFAI' name='claimNbrFAI'>
  </mat-form-field>


<!-- Status ---------------------------->
  <br>
  <mat-form-field>
    <mat-select required class='fsf-form' placeholder='status GF' [(ngModel)]='claim.statusGF' name='statusGF'>
      <mat-option *ngFor='let status of statusOptions' [value]='status'>
        {{ status }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field>
    <mat-select required class='fsf-form' placeholder='status FSF' [(ngModel)]='claim.statusFSF' name='statusFSF'>
      <mat-option *ngFor='let status of statusOptions' [value]='status'>
        {{ status }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field>
    <mat-select required class='fsf-form' placeholder='status FAI' [(ngModel)]='claim.statusFAI' name='statusFAI'>
      <mat-option [value]='"not applicable"'>not applicable</mat-option>
      <mat-option *ngFor='let status of statusOptions' [value]='status'>
        {{ status }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- ignored: currentRecord: string  -->

  <!-- Location and Performance ------->
  <br>
  <mat-form-field>
    <input required matInput [matDatepicker]="picker" placeholder="performance date" [(ngModel)]="claim.performanceDate" name="performanceDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>   
  
  <br>
  <mat-form-field class='fsf-form'>
    <textarea matInput placeholder="location/route" [(ngModel)]='claim.location' maxlength="{{ maxLocationLength }}" name='location'>
    </textarea>
    <mat-hint align="end">{{ (claim && claim.location) ? claim.location.length : 0}} / {{ maxLocationLength }}</mat-hint>
  </mat-form-field>

  <br>
  <mat-form-field class='fsf-form'>
    <textarea matInput placeholder="performance" [(ngModel)]='claim.performance' maxlength="{{ maxPerformanceLength }}" name='performance'>
    </textarea>
    <mat-hint align="end">{{ (claim && claim.performance) ? claim.performance.length : 0}} / {{ maxPerformanceLength }}</mat-hint>
  </mat-form-field>

  <br>
  <mat-form-field class='fsf-form'>
    <textarea matInput placeholder="comment" [(ngModel)]='claim.comment'  maxlength="{{ maxCommentLength }}"name='comment'>
    </textarea>
    <mat-hint align="end">{{ (claim && claim.comment) ? claim.comment.length : 0}} / {{ maxCommentLength }}</mat-hint>
  </mat-form-field>

  <br>
  <mat-checkbox [(ngModel)]="claim.withinSweden" name="withinSweden">within sweden</mat-checkbox>

  <br>
  <mat-checkbox [(ngModel)]="claim.firstRecord" name="firstRecord">first record</mat-checkbox>

  <!-- Time stamps ----------->
  <br>
  <mat-form-field *ngIf="claim.creationTime">
    <input matInput placeholder="creation time" [(ngModel)]="claim.creationTime" name="creationTime" disabled>
  </mat-form-field>   
  <br>
  <mat-form-field *ngIf="claim.lastEdit">
    <input matInput placeholder="last edit" [(ngModel)]="claim.lastEdit" name="lastEdit" disabled>
  </mat-form-field>   

  <br>
  <button color="primary" type="submit" *ngIf="isLoggedIn && claim.claimId" [disabled]="!claimForm.form.valid" mat-raised-button>save</button>
  <button color="primary"type="submit" *ngIf="isLoggedIn && !claim.claimId" [disabled]="!claimForm.form.valid" mat-raised-button>create new</button>

</form>
  </mat-tab>

  
  <mat-tab label="Claimants">
    <edit-claimants [claimId]="claim.claimId"></edit-claimants>
  </mat-tab>
</mat-tab-group>

