<!-- Top bar -->
<mat-toolbar color="primary" class="app-top-bar mat-elevation-z6" >
  <mat-icon (click)="sidenav.toggle()">menu</mat-icon>

  <span class="toolbar-spacer"></span>
  <h1>Swedish Air Sport Records</h1>

  <span class="toolbar-spacer"></span>
  <air-user-menu></air-user-menu>
</mat-toolbar>



<!-- left menu -->
<air-sidenav #sidenav>

  	  <air-sidenav-group title="Record">
        <air-sidenav-item text="list" link="/list"></air-sidenav-item>
        <air-sidenav-item *ngIf="auth.getUser()|async" text="new" link="/newClaim"></air-sidenav-item>
	  </air-sidenav-group>

	  <air-sidenav-group title="About">
        <air-sidenav-item text="about" link="/about"></air-sidenav-item>
	  </air-sidenav-group>
    
</air-sidenav>
