<h3>List Record Claims</h3>

<mat-accordion>
  <mat-expansion-panel *ngFor="let claim of claims | async">
      <mat-expansion-panel-header>
        {{claim.claimNbrFSF}}, {{ makeClass(claim.classId) }}, {{claim.performanceDate}}, {{trunc(claim.performance, 20, true)}}
      </mat-expansion-panel-header>

    <show-claimants [claimId]="claim.claimId" [showPnr]="false"></show-claimants>
    <div>Class: {{ makeClass(claim.classId) }} </div>
    <div>Subclass: {{ makeSubclass(claim.subclassId) }} </div>
    <div>Type: {{ recordTypes[claim.typeId] ? recordTypes[claim.typeId].typeText : '' }} </div>
    <div>Category: {{ recordCategories[claim.categoryId] ? recordCategories[claim.categoryId].categoryText : '' }} </div>
    <div>Region: {{ recordZones[claim.zoneId] ? recordZones[claim.zoneId].zoneText : '' }}</div>
    <div>Group: {{ recordGroups[claim.groupId] ? recordGroups[claim.groupId].groupText : '' }}</div>
    <div>Performance date: {{claim.performanceDate}} </div>
    <div>Claim nbr GF: {{claim.claimNbrGF}}</div>
    <div>Claim nbr FSF: {{claim.claimNbrFSF}}</div>
    <div>Claim nbr FAI: {{claim.claimNbrFAI}}</div>
    <div>Status GF: {{claim.statusGF}}</div>
    <div>Status FSF: {{claim.statusFSF}}</div>
    <div>Status FAI: {{claim.statusFAI}}</div>
    <div>Location: {{claim.location}}</div>
    <div>Performance: {{claim.performance}}</div>
    <div>Within Sweden: {{claim.withinSweden ? 'yes' : 'no'}}</div>
    <div>First record: {{claim.firstRecord ? 'yes' : 'no'}}</div>
    <div>Comment: {{claim.comment}}</div>
    <div>Creation time: {{claim.creationTime}}</div>
    <div>LastEdit: {{claim.lastEdit}}</div>

    <button color="primary" mat-button *ngIf="!isLoggenIn" (click)="onEditClaim(claim.claimId)">View Claim</button>
    <button color="primary" mat-button *ngIf="isLoggenIn" (click)="onEditClaim(claim.claimId)">Edit Claim</button>
    <button color="primary" mat-button *ngIf="isLoggenIn" (click)="onDeleteClaim(claim.claimId)">Delete Claim</button>

  
  </mat-expansion-panel>
</mat-accordion>