<form (ngSubmit)="onSubmit()" #form="ngForm">

  <h4 mat-dialog-title>Create new group</h4>

  <div mat-dialog-content>
    <!--  class -->
    <mat-form-field class='fsf-form'>
      <mat-select required placeholder='class' [(ngModel)]='group.classId' name='classId'>
        <mat-option *ngFor='let recordClass of input.recordClasses | async' [value]='recordClass.classId'>
          {{ recordClass.classAbbrev }} - {{ recordClass.className }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field class='fsf-form'>
      <input required type="text" matInput placeholder="text" aria-label="text" 
             [(ngModel)]="group.groupText" name='text'>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button color="primary" mat-button [mat-dialog-close]="false">cancel</button>
    <button color="primary" mat-button [disabled]="!form.form.valid">create group</button> 
  </div>

</form>
