<form (ngSubmit)="onSubmit()" #form="ngForm">

  <h4 mat-dialog-title>Create new class</h4>

  <div mat-dialog-content>
    <mat-form-field class='fsf-form'>
      <input required type="text" matInput placeholder="abbreviation"
             [(ngModel)]="recordClass.classAbbrev" name='abbrev'>
    </mat-form-field>

    <br>
    <mat-form-field class='fsf-form'>
      <input required type="text" matInput placeholder="name"
             [(ngModel)]="recordClass.className" name='class'>
    </mat-form-field>
  </div>
  
  <div mat-dialog-actions>
    <button color="primary" mat-button [mat-dialog-close]="false">cancel</button>
    <button color="primary" mat-button [disabled]="!form.form.valid">create class</button> 
  </div>
</form>
